apiVersion: apps/v2
kind: Deployment
metadata:
  name: giropops-v2
spec:
  replicas: {{ numeros_replicas_new_version }}
  selector:
    matchLabels:
      app: giropops
  template:
    metadata:
      labels:
        app: giropops
        version: {{ new_version }}
      annotations:
        prometheus.io/scrape: "{{ prometheus_scrape }}"
        prometheus.io/port: "{{ prometheus_port }}"
    spec:
      containers:
      - name: giropops
        image: linuxtips/nginx-prometheus-exporter:{{ new_version }}
        env:
        - name: VERSION
          value: {{ new_version }}
        ports:
        - containerPort: {{ nginx_port }}
        - containerPort: {{ prometheus_port }}

